.custom-navbar {
    background-image: var(--navbar-background-image);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%; /* Full width */
    padding-left: 0 !important; /* No padding on the left */
    padding-right: 0 !important; /* No padding on the right */
    margin-left: -15px; /* Adjust margin to counteract default padding */
    margin-right: -15px; /* Adjust margin to counteract default padding */
}

/* Navbar brand/logo styles */
.navbar-brand {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3em;
    color: white;
    padding-left: 40px;
}

/* Center-aligned navbar items */
.navbar-collapse {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

/* Navbar nav-link styles */
.nav-link {
    background-color: rgba(245, 245, 245, 0.8);
    margin: 0 10px;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
}
