{% load static %}
<!-- templates/banner_carousel.html -->
<div id="carouselExampleIndicators" class="carousel slide my-carousel" data-ride="carousel">
    <!-- Carousel indicators -->

    <div class="carousel-inner">
        {% for i in slides %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <a href="#carouselExampleIndicators" role="button" data-slide="next">
                <!-- Corrected image src path -->
                <img src="{% static 'images/banner' %}{{ forloop.counter }}.jpg" class="d-block w-100" alt="Slide {{ forloop.counter }}">
            </a>
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
