{% load static %} <!-- Correct, this should be at the top of your base template -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block head_title %}{% endblock %}</title>
  {% block extra_head %}{% endblock %}
  <!-- Bootstrap CSS and other stylesheets -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <!-- Static URL for CSS -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body class="animsition">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  {% include "nav.html" %}
  
  {% block content %}
  <!-- Content overridden by child templates -->
  {% endblock content %}

  {% include "footer.html" %}
  {% include "script.html" %}

  {% block extra_scripts %}
  <!-- Scripts overridden by child templates -->
  {% endblock extra_scripts %}


</body>
</html>
