{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- ... other head elements ... -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <h2>Customers</h2>
    <!-- Smaller Add Customer Button with green outline -->
    <a href="{% url 'customer_add' %}" class="btn btn-outline-success btn-sm mb-3">Add Customer</a>
    
    <ul class="list-unstyled">
        {% for customer in customers %}
        <li class="mb-2">
            {{ customer.firstName }} {{ customer.lastName }}
            <!-- Update Button -->
            <a href="{% url 'customer_update' customer.pk %}" class="btn btn-outline-secondary btn-sm">Update</a>
            <!-- Delete Button -->
            <a href="{% url 'customer_delete' customer.pk %}" class="btn btn-outline-danger btn-sm">Delete</a>
        </li>
        {% endfor %}
    </ul>

</body>
</html>
