{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% include "nav.html" %}
    
    <div class="container mt-3">
        <a href="{% url 'product_list' %}" class="text-decoration-none">
            <h2>Products</h2>
        </a>
        
        <div class="row">
            {% for product in products %}
            <div class="col-md-4 mb-3">
                <div class="card h-100">
                    <div class="card-header text-center">
                        <h5 class="card-title m-0">{{ product.productName }}</h5>
                    </div>
                    <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.productName }}">
                    <div class="card-body">
                        <p class="card-text">{{ product.description|truncatechars:100 }}</p>
                        <div class="mt-auto text-left mb-2">
                            <p class="text-black mb-0">$ {{ product.price }}</p>
                        </div>
                        <div class="mt-auto">
                            <a href="{% url 'product_details' product.id %}" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-md-12">
                <p>No products found.</p>
            </div>
            {% endfor %}
        </div>
        
    </div>

    <!-- Optional Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
