{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2>
        <a href="{% url 'admin_home' %}" style="text-decoration: none; color: inherit;">Inventory</a>
        </h2>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Product</th>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.productName }}</td>
                    <td>{{ product.productType }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>${{ product.price }}</td>
                    <td>
                        <img src="{{ product.image.url }}" alt="{{ product.productName }}" style="max-width: 100px;">
                    </td>
                    <td>
                        <!-- Link to the product update view -->
                        <a href="{% url 'product_update' product.id %}" class="btn btn-sm btn-primary">Edit</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6">No products found in inventory.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
