<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login Page</h2>
    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <button type="submit">Login</button>
    </form>

    <br>
    <br>
    <h2>Or</h2>
    <hr>

    <h2>Create an Account</h2>
    <form method="post">
        {% csrf_token %}
        {{ customer_form.as_p }}
        <button type="submit">Create Account</button>
    </form>
</body>
</html>
