<!-- Menu -->
{% load static %}
<div class="wrap_menu">
  <nav class="menu">
      <ul class="main_menu">
          <!-- Home Link -->
          <li>
              <a href="/">Home</a>
          </li>

          <!-- Shop Dropdown -->
          <li>
              <a href="/shop/">Shop</a>
              <ul class="sub_menu">
                  <li><a href="{% url 'mens_products' %}">Men's</a></li>
                  <li><a href="{% url 'womens_products' %}">Women's</a></li>
                  <li><a href="{% url 'all_products' %}">All Products</a></li>
                  <a href="{% url 'customer_list' %}" class="btn btn-primary">Our Customers</a>
              </ul>
          </li>

          <!-- Dynamic Categories -->
       

      

          <!-- User Authentication Links -->
          
      </ul>
  </nav>
</div>
