{% load static %}

<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="padding: 1rem 0; background-image: url('{% static 'images/nav5.jpg' %}'); background-size: contain; background-position: center center; background-repeat: no-repeat;">
    <div class="container">
        <a class="navbar-brand" href="#" style="font-weight: bold;">Suburban Outfitters</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" style="background-color: rgba(245, 245, 245, 0.8); margin: 0 10px; padding: 10px 15px; border-radius: 5px; font-weight: bold;">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="background-color: rgba(245, 245, 245, 0.8); margin: 0 10px; padding: 10px 15px; border-radius: 5px; font-weight: bold;">Mens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="background-color: rgba(245, 245, 245, 0.8); margin: 0 10px; padding: 10px 15px; border-radius: 5px; font-weight: bold;">Womens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="background-color: rgba(245, 245, 245, 0.8); margin: 0 10px; padding: 10px 15px; border-radius: 5px; font-weight: bold;">All Products</a>
                </li>
            </ul>
            <!-- Search form -->
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="background-color: #fff; font-weight: bold;">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="font-weight: bold;">Search</button>
            </form>
        </div>
    </div>
</nav>
