{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% include "nav.html" %}
    
    <div class="container mt-3">
        <a href="{% url 'product_list' %}" class="text-decoration-none">
            <h2>Products</h2>
        </a>
        <a href="{% url 'product_add' %}" class="btn btn-outline-success btn-sm mb-3">Add Product</a>
        
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Image</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.productName }}</td>
                        <td>{{ product.productType }}</td>
                        <td><img src="{{ product.image.url }}" alt="{{ product.productName }}" style="max-width: 100px;"></td>
                        <td class="text-center">
                            <!-- Button group to keep buttons together and centered -->
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="{% url 'product_details' product.id %}" class="btn btn-outline-primary btn-sm">Details</a>
                                <a href="{% url 'product_update' product.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
                                <a href="{% url 'product_delete' product.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">No products found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>

    <!-- Optional Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

