{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <style>
        /* Add your custom styles here if necessary */
    </style>
</head>
<body>
    {% include "nav.html" %}

    <div class="container mt-3">
        <h2>
            <a href="{% url 'product_list' %}" class="text-decoration-none">Products</a>
        </h2>
        <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
            {% csrf_token %}
            <!-- Render Product fields here with Crispy Forms -->
            {{ form|crispy }}

            <!-- No need to render each field manually if using {{ form|crispy }} -->
            <!-- The formset for sizes will be handled by the JavaScript below -->

            <div class="text-center mt-4">
                <button type="button" id="add-size" class="btn btn-secondary">Add Another Size</button>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>

    <!-- Include Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        // JavaScript to add another size form
        $('#add-size').on('click', function() {
            var newForm = $('.size-form:last').clone(true);
            var formIndex = parseInt($('#id_sizes-TOTAL_FORMS').val());
            newForm.find(':input').each(function() {
                var name = $(this).attr('name').replace('-' + (formIndex - 1) + '-', '-' + formIndex + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            });
            $('#id_sizes-TOTAL_FORMS').val(formIndex + 1);
            $('.size-form:last').after(newForm); // Ensure new form is added after the last size form
        });
    </script>
</body>
</html>
