<!-- reports.html -->
{% extends "base.html" %}  <!-- Extends the base template -->

{% block content %}  <!-- Starts content block -->
<div class="container mt-5">
    <h2>Monthly Sales Reports</h2>
    <form method="post" class="mb-4">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="row">
            <div class="col-md-4">
                <p class="font-weight-bold">Gross Sales:</p>
                <p>${{ gross_sales }}</p>
            </div>
            <div class="col-md-4">
                <p class="font-weight-bold">Total Costs:</p>
                <p>${{ total_costs }}</p>
            </div>
            <div class="col-md-4">
                <p class="font-weight-bold">Net Profit:</p>
                <p>${{ net_profit }}</p>
            </div>
        </div>
       
    </form>
    <a href="{% url 'admin_home' %}" class="btn btn-outline-secondary btn-sm">Back Home</a>
</div>
{% endblock %}  <!-- Ends content block -->
