<!-- reports.html -->
{% extends "base.html" %}  <!-- Extends the base template -->

{% block content %}  <!-- Starts content block -->
<div class="container mt-5">
    <h2>Monthly Sales Reports</h2>
    <form method="post" class="mb-4">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="row">
            <div class="col-md-4">
                <p class="font-weight-bold">Gross Sales:</p>
                <!-- Hard coded gross sales -->
                <p>${{ 10000 }}</p> <!-- For example, $10,000 -->
            </div>
            <div class="col-md-4">
                <p class="font-weight-bold">Total Costs:</p>
                <!-- Hard coded total costs -->
                <p>${{ 7000 }}</p> <!-- For example, $7,000 -->
            </div>
            <div class="col-md-4">
                <p class="font-weight-bold">Net Profit:</p>
                <!-- Hard coded net profit -->
                <p>${{ 3000 }}</p> <!-- For example, $3,000 -->
            </div>
        </div>
       
    </form>
    <a href="{% url 'admin_home' %}" class="btn btn-outline-secondary btn-sm">Back Home</a>
</div>
{% endblock %}  <!-- Ends content block -->
