<!-- return_item_confirmation.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Return Item Confirmation</title>
</head>
<body>
    <h1>Return submitted for review. You can now redirect back to the homepage. Happy shopping!</h1>
    <!-- return_item_confirmation.html -->
    <p>Return submitted for review.</p>
    <a href="{% url 'home' %}"><button>Back to Home</button></a>

</body>
</html>
